<footer class="footer">
  <div class="container container-footer">
    <div class="newsletter">
      <a href="../index.html" class="logo-footer">
        <svg class="logo-footer" width="83" height="23">
          <use href="../img/sprite.svg#logo"></use>
        </svg>
      </a>
      <p class="text-footer">
        Subscribe to our newsletter for the latest updates on our yoga clases
        and events.
      </p>
      <div class="actions">
        <form class="form-footer">
          <label class="form-footer-email">
            <input
              class="input-footer"
              type="email"
              name="useremail"
              placeholder="Your email here"
              required
              pattern="([A-Za-z0-9_.-]{1,})@([A-Za-z0-9_.-]{1,})\.([A-Za-z]{2,8})"
              title="Please enter a valid email address, e.g. example@mail.com"
            />
          </label>
          <button class="btn-footer" type="submit">Join</button>
        </form>
        <p class="text-privaci">
          By subscribing, you consent to our Privacy Policy and agree to receive
          updates.
        </p>
      </div>
    </div>
    <div class="links-footer">
      <div class="links-connect">
        <h3>Quick Links</h3>
        <ul>
          <li>
            <a href="./yoga-classes.html">Yoga Classes</a>
          </li>
          <li><a href="./team.html">Team</a></li>
          <li><a href="./pricing.html">Pricing</a></li>
          <li><a href="./header.html">Contacts</a></li>
        </ul>
      </div>
      <div class="links-connect">
        <h3>Connect With Us</h3>
        <ul>
          <li>
            <a
              href="https://www.facebook.com/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="icons-footer" width="24" height="24">
                <use href="../img/sprite.svg#facebook"></use>
              </svg>
              Facebook
            </a>
          </li>
          <li>
            <a
              href="https://www.instagram.com/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="icons-footer" width="24" height="24">
                <use href="../img/sprite.svg#instagram"></use>
              </svg>
              Instagram
            </a>
          </li>
          <li>
            <a
              href="https://www.linkedin.com/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="icons-footer" width="24" height="24">
                <use href="../img/sprite.svg#linkedIn"></use>
              </svg>
              LinkedIn
            </a>
          </li>
          <li>
            <a
              href="https://www.youtube.com/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="icons-footer" width="24" height="24">
                <use href="../img/sprite.svg#youtube"></use>
              </svg>
              YouTube
            </a>
          </li>
        </ul>
      </div>
    </div>
    <p>&copy;2025 Yoga Studio. All rights reserved.</p>
  </div>
</footer>
