<footer class="footer">
  <div class="container container-footer">
    <div class="newsletter">
      <svg class="logo-footer" width="83" height="23">
        <use href="../img/icons.svg#icon-logo"></use>
      </svg>
      <p class="text-footer">
        Subscribe to our newsletter for the latest updates on our yoga clases
        and events.
      </p>
      <div class="form-footer">
        <form class="form-footer">
          <label class="form-footer-email">
            <input
              class="input-footer"
              type="email"
              name="uzeremail"
              placeholder="Your email here"
            />
          </label>
          <button class="btn-footer" type="submit">Join</button>
          <p>
            By subscribing, you consent to our Privacy Policy and agree to
            receive updates.
          </p>
        </form>
      </div>
    </div>
    <div class="links-footer">
      <div>
        <p>Quick Links</p>
        <ul>
          <li>Yoga Classes</li>
          <li>Team</li>
          <li>Pricing</li>
          <li>Contacts</li>
        </ul>
      </div>
      <div>
        <p>Connect With Us</p>
        <ul>
          <li>
            <svg class="logo" width="24" height="24">
              <use href="/img/icons.svg#icon-Facebook"></use>
            </svg>
            <p>Facebook</p>
          </li>
          <li><p>Instagram</p></li>
          <li><p>LinkedIn</p></li>
          <li>
            <svg class="logo" width="24" height="24">
              <use href="/img/icons.svg#icon-YouTube"></use>
            </svg>
            <p>YouTube</p>
          </li>
        </ul>
      </div>
    </div>

    <p>© 2025 Yoga Studio. All rights reserved.</p>
  </div>
</footer>
