<header class="header">
  <div class="container header-container">
    <nav class="nav-burger-menu">
      <svg class="burger-icon" width="24" height="24">
        <use href="/img/sprite.svg#burger-menu"></use>
      </svg>
    </nav>

    <a class="nav-logo" href="./index.html" aria-label="Site logo">
      <svg class="nav-logo-icon" width="83" height="23">
        <use href="{=$icon-path}"></use>
      </svg>
    </a>

    <nav class="join-wrapper">
      <a href="#" class="nav-join">Join</a>
      <a href="#" class="nav-join-now">Join Now</a>
    </nav>
  </div>
</header>
