<header class="header">
  <div class="container header-container">
    <nav class="nav-burger-menu nav-section">
      <svg class="burger-icon" width="24" height="24">
        <use href="/img/sprite.svg#burger-menu"></use>
      </svg>
      <ul class="navigation-list">
        <li class="navigation-item">
          <a href="#" class="navigation-link current">Yoga Classes</a>
        </li>
        <li class="navigation-item">
          <a href="#" class="navigation-link">Team</a>
        </li>
        <li class="navigation-item">
          <a href="#" class="navigation-link">Testimonials</a>
        </li>
        <li class="navigation-item">
          <a href="#" class="navigation-link">Pricing</a>
        </li>
        <li class="navigation-item">
          <a href="#" class="navigation-link">Contacts</a>
        </li>
      </ul>
    </nav>

    <a class="nav-logo" href="./index.html" aria-label="Site logo">
      <svg class="nav-logo-icon" width="83" height="23">
        <use href="{=$icon-path}"></use>
      </svg>
    </a>

    <nav class="join-wrapper">
      <a href="#" class="nav-join">Join</a>
      <a href="#" class="nav-join-now">Join Now</a>
    </nav>
  </div>
</header>
