<!-- 1 Sessions -->
<section class="backdrop-1 is-open">
  <div class="container modal-1">
    <button class="modal-close" type="button">
      <svg class="modal-close-icons" width="16" height="16">
        <use href=""></use>
      </svg>
    </button>
    <h2 class="modal-logo">Join Now!</h2>

    <p class="modal-text">One Session</p>
    <p class="modal-price">$10</p>

    <form class="modal-form">
      <div class="modal-form-order">
        <label class="order-form-label" for="user-name">Your Name</label>
        <input
          class="order-form-input"
          id="user-name"
          name="user-name"
          pattern="[a-zA-Zа-яА-ЯіІїЇєЄ']+"
          required
          type="text"
          placeholder="Liam"
        />
      </div>
      <div class="modal-form-order">
        <label class="order-form-label" for="user-email">Email</label>
        <input
          class="order-form-input-email"
          id="user-email"
          name="user-email"
          required
          type="text"
          placeholder="hello@yogabloom.com"
        />
      </div>
      <div class="modal-form-order">
        <label class="order-form-label" for="user-tel">Phone number</label>
        <input
          class="order-form-input-phone"
          id="user-tel"
          name="user-tel"
          pattern="+380-[0-9]{2}-[0-9]{3}-[0-9]{2}-[0-9]{2}"
          required
          type="text"
          placeholder="+380 (95) 123 12 12"
        />
      </div>
      <button class="order-form-btn" type="submit">Go to checkout</button>
    </form>
  </div>
</section>
<!-- 8 Sessions -->
<section class="backdrop-8">
  <div class="container modal-8">
    <button class="modal-close" type="button">
      <svg class="modal-close-icons" width="16" height="16">
        <use href=""></use>
      </svg>
    </button>
    <h2 class="modal-logo">Join Now!</h2>
    <p class="modal-text">8 Sessions Package</p>
    <p class="modal-price">$65</p>

    <form class="modal-form">
      <div class="modal-form-order">
        <label class="order-form-label" for="user-name">Your Name</label>
        <input
          class="order-form-input"
          id="user-name"
          name="user-name"
          pattern="[a-zA-Zа-яА-ЯіІїЇєЄ']+"
          required
          type="text"
          placeholder="Liam"
        />
      </div>
      <div class="modal-form-order">
        <label class="order-form-label" for="user-email">Email</label>
        <input
          class="order-form-input-email"
          id="user-email"
          name="user-email"
          required
          type="text"
          placeholder="hello@yogabloom.com"
        />
      </div>
      <div class="modal-form-order">
        <label class="order-form-label" for="user-tel">Phone number</label>
        <input
          class="order-form-input-phone"
          id="user-tel"
          name="user-tel"
          pattern="+380-[0-9]{2}-[0-9]{3}-[0-9]{2}-[0-9]{2}"
          required
          type="text"
          placeholder="+380 (95) 123 12 12"
        />
      </div>
      <button class="order-form-btn" type="submit">Go to checkout</button>
    </form>
  </div>
</section>

<!-- 12 Sessions -->
<section class="backdrop-12">
  <div class="container modal-12">
    <button class="modal-close" type="button">
      <svg class="modal-close-icons" width="16" height="16">
        <use href=""></use>
      </svg>
    </button>
    <h2 class="modal-logo">Join Now!</h2>
    <p class="modal-text">12 Sessions Package</p>
    <p class="modal-price">$80</p>

    <form class="modal-form">
      <div class="modal-form-order">
        <label class="order-form-label" for="user-name">Your Name</label>
        <input
          class="order-form-input"
          id="user-name"
          name="user-name"
          pattern="[a-zA-Zа-яА-ЯіІїЇєЄ']+"
          required
          type="text"
          placeholder="Liam"
        />
      </div>
      <div class="modal-form-order">
        <label class="order-form-label" for="user-email">Email</label>
        <input
          class="order-form-input-email"
          id="user-email"
          name="user-email"
          required
          type="text"
          placeholder="hello@yogabloom.com"
        />
      </div>
      <div class="modal-form-order">
        <label class="order-form-label" for="user-tel">Phone number</label>
        <input
          class="order-form-input-phone"
          id="user-tel"
          name="user-tel"
          pattern="+380-[0-9]{2}-[0-9]{3}-[0-9]{2}-[0-9]{2}"
          required
          type="text"
          placeholder="+380 (95) 123 12 12"
        />
      </div>
      <button class="order-form-btn" type="submit">Go to checkout</button>
    </form>
  </div>
</section>
