<section class="team">
  <div class="team-container">
    <h2>Our team</h2>
    <p>Dedicated professionals passionate about yoga and wellness.</p>
    <ul>
      <li>
        <h3>Liam Johnson</h3>
      </li>
      <li>
        <h3>Emma Stone</h3>
        
        
      </li>
      <li>
        <h3>Sophia Lee</h3>
      </li>
      <li>
        <h3>Noah Brown</h3>
      </li>
      <li>
        <h3>Ava Green</h3>
      </li>
      <li>
        <h3>Clark Thomas</h3>
      </li>
    </ul>
  </div>
</section>
