<section>
 <div class="container explore-container">
  <p class="tagline-wrapper">Explore</p>
  <h2 class="explore-main-title">Discover Our Most Popular Yoga Programs</h2>
  <p class="explore-main-text">
    Join our community and elevate your practice with our expertly designed yoga programs. 
    Each course is tailored to meet various skill levels and personal goals.
  </p>

  <ul class="explore-list">
    <li class="explore-program">
      <img
            class="explore-img"
            srcset="./img/programs/beginners-mobile.jpg 1x, ./img/programs/beginners-mobile@2x.jpg 2x"
            src="./img/programs/beginners-mobile.jpg 1x" 
            alt="beginners" 
            width="343"
            >
      <div class="explore-content">
        <h3 class="explore-title">Beginner Yoga: Foundations for New Practitioners</h3>
        <p class="explore-text">Learn the basics of yoga in a supportive environment.</p>
      </div>
    </li>

    <li class="explore-program">
      <img
            class="explore-img"
            srcset="./img/programs/vinyasa-mobile.jpg 1x, ./img/programs/vinyasa-mobile@2x.jpg 2x"
            src="./img/programs/vinyasa-mobile.jpg 1x" 
            alt="vinyasa flow" 
            width="343">
      <div class="explore-content">
        <h3 class="explore-title">Vinyasa Flow: Energize Your Body and Mind</h3>
        <p class="explore-text">Experience a dynamic sequence that connects breath and movement.</p>
      </div>
    </li>

    <li class="explore-program">
      <img
            class="explore-img"
            srcset="./img/programs/restorative-mobile.jpg 1x, ./img/programs/restorative-mobile@2x.jpg 2x"
            src="./img/restorative-mobile.jpg 1x" 
            alt="deep relaxation and healing" 
            width="343">
      <div class="explore-content">
        <h3 class="explore-title">Restorative Yoga: Deep Relaxation and Healing</h3>
        <p class="explore-text">Unwind and rejuvenate with gentle poses and mindfulness.</p>
      </div>
    </li>
  </ul>

  <a href="#pricing" class="join-link">Join</a>
</div>
</section>
