.burger-icon,
.navbar-close {
  cursor: pointer;
  fill: #0d0b0a;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 100%;
}

.header-container,
.navbar-header {
  display: flex;
  align-items: center;
}

.nav-burger-menu {
  display: flex;
  align-items: center;
  margin-right: 90px;
}

.nav-logo {
  width: 84px;
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.nav-logo-icon {
  fill: #0d0b0a;
}

.join-wrapper {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: auto;
}

.nav-join,
.navbar-join,
.nav-join-now,
.navbar-join-now {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 74px;
  height: 34px;
  border: 1px solid #c2d9fc;
  border-radius: 100px;
  background-color: #c2d9fc;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  font-family: 'Sarabun', sans-serif;
  color: #0d0b0a;
}

.nav-join-now {
  display: none;
}

.navigation-list {
  display: none;
}

@media only screen and (min-width: 768px) {
  .nav-burger-menu {
    margin-right: 268px;
  }

  .nav-join {
    display: none;
  }

  .nav-join-now {
    display: flex;
    width: 105px;
    height: 42px;
  }
}

@media only screen and (min-width: 1336px) {
  .burger-icon {
    display: none;
  }

  .nav-burger-menu {
    margin-right: 0;
  }

  .navigation-list {
    display: flex;
    gap: 32px;
    margin-right: 161px;
  }

  .navigation-item {
    padding: 22px 0;
    cursor: pointer;
  }

  .navigation-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    font-family: 'Sarabun', sans-serif;
    color: #0d0b0a;
    display: inline-block;
  }

  .navigation-link:hover,
  .navigation-link:focus {
    border-bottom: 2px solid rgba(13, 11, 10, 0.5);
  }

  .navigation-link.current {
    border-bottom: 2px solid rgba(13, 11, 10, 0.5);
  }
}

/* navbar menu */
.navbar-join-wrapper {
  width: 86px;
  height: 100%;
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar-join {
  width: 70px;
}

.navbar-join-now {
  display: none;
}

.navbar-item {
  height: 50px;
  padding: 12px 0;
}
