.burger-icon {
  cursor: pointer;
  fill: #0d0b0a;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.nav-burger-menu {
  width: 113px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.nav-logo {
  width: 84px;
  height: 36px;
  display: inline-block;
}

.nav-logo-icon {
  padding-top: 3px;
  padding-bottom: 10px;
  fill: #0d0b0a;
}

.join-wrapper {
  width: 113px;
  height: 34px;
  position: relative;
}

.nav-join,
.nav-join-now {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  max-width: 74px;
  right: 0;
  border: 1px solid #c2d9fc;
  border-radius: 100px;
  background-color: #c2d9fc;

  padding: 4px 20px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  font-family: 'Sarabun', sans-serif;
  color: #0d0b0a;
}

.nav-join-now {
  display: none;
  max-width: 105px;
  padding: 8px 20px;
}

@media only screen and (min-width: 768px) {
  .nav-burger-menu {
    width: 278px;
  }
  .header-container {
    gap: 32px;
  }

  .join-wrapper {
    width: 278px;
    height: 42px;
  }

  .nav-join {
    display: none;
  }

  .nav-join-now {
    display: inline-flex;
  }
}
