.burger-icon {
  cursor: pointer;
  fill: #0d0b0a;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  padding-top: 14px;
  padding-bottom: 14px;
}

.nav-burger-menu {
  width: 113px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.nav-logo {
  width: 84px;
  height: 36px;
  display: inline-flex;
  align-items: center;
}

.nav-logo-icon {
  fill: #0d0b0a;
}

.join-wrapper {
  width: 113px;
  height: 34px;
  position: relative;
}

.nav-join,
.nav-join-now {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 74px;
  height: 100%;
  right: 0;
  border: 1px solid #c2d9fc;
  border-radius: 100px;
  background-color: #c2d9fc;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  font-family: 'Sarabun', sans-serif;
  color: #0d0b0a;
}

.nav-join-now {
  display: none;
  width: 105px;
}

.navigation-list {
  display: none;
}

@media only screen and (min-width: 768px) {
  .header-container {
    max-width: 768px;
    gap: 32px;
    padding: 15px 32px;
  }
  .nav-burger-menu {
    width: 278px;
  }

  .join-wrapper {
    width: 278px;
    height: 42px;
  }

  .nav-join {
    display: none;
  }

  .nav-join-now {
    display: inline-flex;
  }
}

@media only screen and (min-width: 1336px) {
  .header-container {
    max-width: 1440px;
    gap: 32px;
    padding: 15px 64px;
  }
  .burger-icon {
    display: none;
  }
  .nav-section {
    width: 582px;
    height: 26px;
  }
  .navigation-list {
    display: flex;
    gap: 32px;
    display: flex;
    gap: 32px;
  }

  .join-wrapper {
    width: 582px;
  }
}
