.hero-container-img {
  background-image: url(../img/hero/hero-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 100%;
  min-height: 301px;
  margin: 0 auto;
}

@media (min-resolution: 192dpi) {
  .hero-container-img {
    background-image: url(../img/hero/hero-mobile-@2x.jpg);
  }
}
.hero-container {
  padding: 48px 0;
  display: block;
}
.hero-title {
  font-family: 'Cabin', sans-serif;
  font-weight: 400;
  font-size: 44px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  max-width: 343px;

  margin-bottom: 20px;
}
.hero-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 24px;
  max-width: 343px;
}
.hero-mini-container {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.hero-link-pricing {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  border: 1px solid #c2d9fc;
  background-color: #c2d9fc;
  border-radius: 100px;
  padding: 10px 24px;
  width: 329px;
  height: 46px;
}
.hero-link-gallery {
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0);
  background-color: rgba(13, 11, 10, 0.05);
  border-radius: 100px;
  padding: 10px 24px;
  width: 329px;
  height: 46px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
}

/*tablet*/

@media screen and (min-width: 768px) {
  .hero-container-img {
    background-image: url(../img/hero/hero-tablet.jpg);
    min-height: 359px;
  }
  @media (min-resolution: 192dpi) {
    .hero-container-img {
      background-image: url(../img/hero/hero-tablet-@2x.jpg);
    }
  }
  .hero-container {
    padding: 24px 0;
  }
  .hero-title {
    max-width: 426px;
    margin-bottom: 8px;
  }
  .hero-text {
    font-size: 18px;
    margin-bottom: 32px;
    max-width: 641px;
  }
}
