.text-pricing {
  font-family: 'Sarabun', sans-serif;
  font-weight: 600;
  font-size: 16px;

  line-height: 1.5;
  text-align: center;
  color: #0d0b0a;
}

.page-pricing {
  font-family: 'Cabin', sans-serif;
  font-weight: 400;
  font-size: 52px;

  line-height: 1.2;
  letter-spacing: 0.01em;
  text-align: center;
  color: #0d0b0a;
}

.text {
  font-family: 'Sarabun', sans-serif;
  font-weight: 400;
  font-size: 18px;

  line-height: 1.6;
  text-align: center;
  color: #0d0b0a;
}

.thumb-pricing {
  border: 0px solid rgba(13, 11, 10, 0.15);
  border-radius: 16px;
  padding: 32px;
  max-width: 421px;
  height: 100%;
  background: #dfebeb;
}

.price-text {
  font-weight: 400;
  font-size: 72px;
  font-family: 'Cabin', sans-serif;

  line-height: 1.2;
  letter-spacing: 0.01em;
  text-align: center;
  color: #0d0b0a;
}
