/* Team Section */
.team-section {
    padding: 64px 0;
    background-color: #f8f8f8;
}
/* Our team title-text */ 
.section-label {
font-weight: 600;
text-align: center;
line-height: 1.5;
margin-bottom: 12px;
}

.our-team-title {
    line-height: 1.2;
    letter-spacing: 0.01em;
    text-align: center;
    font-weight: 400;
    font-size: 40px;
    margin-bottom: 20px;
    color: #252322;
}
.section-description {
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    margin-bottom: 48px;
} 

/* Team member card*/
.team-list {
    display: flex;
    flex-direction: column;
    gap: 48px;
}
.team-member {
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
border-radius: 0 0 4px 4px;
box-shadow: 
  0 2px 1px 0 rgba(46, 47, 66, 0.08),
  0 1px 1px 0 rgba(46, 47, 66, 0.16),
  0 1px 6px 0 rgba(46, 47, 66, 0.08);
background: var(--white);
}
.team-member-image {
    border-radius: 16px;
    margin-bottom: 20px;
}

.team-member-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 12px;
    margin-bottom: 20px;
}
.team-member:nth-child(6) .team-member-info{
display: none;
}

.team-name-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
    color: #252322;
}
.team-role {
    line-height: 1.6;
    text-align: center;
}
.team-description {
    line-height: 1.6;
    text-align: center;
}

.team-social-list {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 14px;
}